<div style='border:solid black;padding: 1rem;border-radius:9px;'>
  <p>
    <strong>
      Title:
    </strong> <%= @article.title %>
  </p>

  <p>
    <strong>
      Text:
    </strong>
    <%= @article.text %>
  </p>
</div>

<h2>Comments</h2>
<div style='border:dotted blue;border-radius:10px;padding: 1rem;'>
  <%= render @article.comments %>
</div>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path %> | 
<%= link_to 'Index', articles_path %>

